<section>
	<ul>
		<li class="strip" ng-repeat="stripe in stripes" background-color="stripe.color.hex">
			<div class="control">
				<div class="ctrl-btn swap">
					<button title="Swap Left" ng-show="showSwap(true,$index)" ng-click="swap($index,$index-1)"><icon>&#x24;</icon></button>
					<button title="Swap Right" ng-show="showSwap(false,$index)" ng-click="swap($index,$index+1)"><icon>&#x22;</icon></button>
				</div>
				<div class="ctrl-btn remove" ng-show="showRemove()">
					<button title="Remove" ng-click="remove($index)"><icon>&#x23;</icon></button>
				</div>
				<div class="ctrl-group" title="Hex Color" ng-class="{error:stripe.error.hex}">
					<input class="single" type="text" ng-model="stripe.color.hex" ng-change="updateHex($index)" maxlength="7">
				</div>
				<div class="ctrl-group" title="RGB Color" ng-class="{error:stripe.error.rgb}">
					<div>
						<button ng-click="updateRGB($index, {key: 'r', inc: -1})">-</button><input type="text" ng-model="stripe.color.r" maxlength="3" ng-change="updateRGB($index)"><button ng-click="updateRGB($index, {key: 'r', inc: 1})">+</button>
					</div>
					<div>
						<button ng-click="updateRGB($index, {key: 'g', inc: -1})">-</button><input type="text" ng-model="stripe.color.g" maxlength="3" ng-change="updateRGB($index)"><button ng-click="updateRGB($index, {key: 'g', inc: 1})">+</button>
					</div>
					<div>
						<button ng-click="updateRGB($index, {key: 'b', inc: -1})">-</button><input type="text" ng-model="stripe.color.b" maxlength="3" ng-change="updateRGB($index)"><button ng-click="updateRGB($index, {key: 'b', inc: 1})">+</button>
					</div>
				</div>
				<div class="ctrl-group" title="Size" ng-class="{error:stripe.error.size}">
					<button ng-click="updateSize($index, {inc: -1})">-</button><input type="text" maxlength="3" ng-model="stripe.size" ng-change="updateSize($index)"><button ng-click="updateSize($index, {inc: 1})">+</button>
				</div>
			</div>
		</li>
		<li class="strip-new" ng-show="showNew()">
			<button class="btn-new" ng-click="new()"><icon>&#x25;</icon></button>
		</li>
	</ul>
</section>