@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin bg-linear-gradient($direction, $colors...) {
	background-image: -webkit-linear-gradient($direction, $colors);
	background-image:    -moz-linear-gradient($direction, $colors);
	background-image:     -ms-linear-gradient($direction, $colors);
	background-image:      -o-linear-gradient($direction, $colors);
	background-image:         linear-gradient($direction, $colors);
}

@mixin transform-rotate($deg) {
	-webkit-transform: rotate($deg);
	   -moz-transform: rotate($deg);
	    -ms-transform: rotate($deg);
	     -o-transform: rotate($deg);
}

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	   -moz-box-sizing: $val;
	    -ms-box-sizing: $val;
	     -o-box-sizing: $val;
	        box-sizing: $val;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

canvas {
	display: none;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

$control-height: 240px;
.header-block {
	position: absolute;
	top: 0;
	left: 0;
	bottom: $control-height;
	width: 100%;

	background-image: url(../images/stripe.png);
	box-shadow: 0 0 3px 2px rgba(#000, 0.2) inset;

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';

		@include bg-linear-gradient(top, rgba(#000, 0.2), rgba(#fff, 0.1), rgba(#000, 0.2));
	}

	header {
		position: absolute;
		top: 30%;
		left: 50%;
		z-index: 1;

		nav ul li {
			display: inline-block;
			margin-right: 10px;

			font-size: 20px;
			color: #555;
			text-shadow:  //3px  3px 0   #ddd,
						 -1px -1px 0 #ddd,
						  1px -1px 0 #ddd,
						 -1px  1px 0 #ddd,
						  1px  1px 0 #ddd;
		}

		h1 {
			margin: 0;

			font-family: 'Rochester', cursive;
			font-size: 98px;
			color: #555;
			text-shadow:  3px  3px 1px #ddd,
						 -2px -2px 1px #ddd,
						  2px -2px 1px #ddd,
						 -2px  2px 1px #ddd,
						  2px  2px 1px #ddd;
			-webkit-font-smoothing: antialiased;
		}
	}
}

.control-block {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $control-height;
	overflow: hidden;

	@include bg-linear-gradient(top, rgba(#000, 0.2), rgba(#000, 0));

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		background-image: url(../images/bg.png);
	}

	section ul li {
		display: inline-block;
	}
}

.strip {
	position: relative;
	width: 200px;
	height: 100%;

	border-top: dashed 1px #666;
	border-left: dashed 1px #666;
	border-right: dashed 1px #666;
  background-color: #9CC5C9;
  @include bg-linear-gradient(left, rgba(#000, 0.1), rgba(#000, 0), rgba(#000, 0.1));
  overflow: hidden;

	.control {
		position: relative;
		padding: 25px 10px;
		text-align: center;
	}
}

.strip-new {
	position: relative;
	vertical-align: top;
}

input, button {
	display: inline-block;
	margin: 0;
	padding: 5px;
	border: none;
	outline: none;
	background-color: transparent;

	font-family: 'Arbutus Slab', serif;
	text-align: center;

	@include box-sizing(content-box);
}

button {
	cursor: pointer;
}

$width: 14px;
$height: 16px;

.ctrl-group {
	display: inline-block;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.1) inset,
							0 2px 3px 0 rgba(0,0,0,0.1) inset;
	background-color: transparent;
	overflow: hidden;

	$bg-color1: rgba(#fff, 0.6);
	$bg-color2: rgba(#fff, 0.4);

	input, button {
		display: block;
		float: left;
		height: $height;
		font-size: $height - 2;
		line-height: $height - 2;

		@include bg-linear-gradient(top, $bg-color1, $bg-color2);
	}

	input {
		width: $width * 3;
		color: rgba(#000, 0.7);
		text-transform: uppercase;

		&.single {
			width: 90px;
		}

		&:focus {
			background-image: none;
			background-color: $bg-color1;
		}
	}

	button {
		width: $width;
		color: rgba(#000, 0.3);

		&:hover {
			background-image: none;
			background-color: $bg-color1;
		}

		&:active {
			background-image: none;
			background-color: $bg-color2;
		}

		&.single {
			width: $width * 3;
		}
	}

	&.error {
		background-color: red;
	}
}

.ctrl-btn {
	position: absolute;
	top: 0;
	padding: 5px;
	margin: 0;

	button {
		display: inline-block;
		width: $height;
		height: $height;
		font-size: $height - 2;
		line-height: $height - 2;
		padding: 0;
		color: #fff;
		opacity: 0.5;
		
		&:hover {
			opacity: 1;
		}
	}

	&.swap {
		left: 0;
	}

	&.remove {
		right: 0;

		button {
			color: #c33;
		}
	}
}

.icon {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.main-ctrl {
	position: absolute;
	width: 100%;
	height: 100%;
}

.side-ctrl {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 100px;
	height: 100%;
	border-top: dashed 1px #666;
	border-left: dashed 1px #666;
	border-right: dashed 1px #666;
	box-shadow: -1px 0 2px 1px rgba(#000, 0.2);
	background-color: rgba(51, 102, 153, 0.8);
	text-align: center;
}

.btn-new {
	font-size: 32px;
}

.resizeable {
	position: absolute;
}

.scrollbar.horizontal {
	position: absolute;
	padding: 0;
	bottom: 0;
	height: 10px;
	border-radius: 3px;
	background-color: rgba(#fff, 0.3);
	content: '';
	
	&:hover, &.active {
		background-color: rgba(#fff, 0.6);
		cursor: default;
	}
}